<div class="qualifications" id="qualifications">
  <p class="title">Qualifications</p>
  <p class="sub-title">My Personal Journey</p>
  <div>
    <section>
      <h4>Diploma in Pharmacy</h4>
      <p class="my-0" style="color: #F72585;">(Not Completed)</p>
      <p class="my-0">Galgotias College</p>
      <p class="year">Year - 2022-(Pursuing)</p>
    </section>

    <section>
      <h4>BSc(Bachelors in Science)</h4>
      <p class="my-0">Agra University </p>
      <p class="year">Year - 2019-2022</p>
    </section>

    <section>
      <h4>12<sup>th</sup></h4>
      <p class="my-0">Heritage International School</p>
      <p class="year">Year - 2017-2019</p>
    </section>

    <section>
      <h4>10<sup>th</sup></h4>
      <p class="my-0">Range Hills Public School</p>
      <p class="year">Year - 2015-2017</p>
    </section>
  </div>
</div>
